<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body id="page-top">
  {% extends 'template.html' %} {% block content %}

  <!-- Content Row -->
  <div class="row">
    {% for account in accounts %}

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body d-flex flex-column">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                {{ account.alias }}
              </div>
              <div class="text-s font-weight-bold text-uppercase mb-1">
                {{ account.iban }}
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                {{ account.currency }} {{ account.balance }}
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
            </div>
          </div>
          <br />
        </div>
      </div>
    </div>

    {% endfor %}
  </div>

  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newAccountModal">
    Request New Account
  </button>

  <div class="modal fade" id="newAccountModal" tabindex="-1" role="dialog" aria-labelledby="newAccountModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="newAccountModalLabel">
            Request New Account
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form name="newAccountForm" id="newAccountForm">
            <div class="form-group">
              <label for="alias">Alias</label>
              <input type="text" class="form-control" id="alias"
                placeholder="Enter a alias for your new bank account" />
            </div>
            <div class="form-group">
              <label for="currency">Currency</label>
              <select class="form-control" id="currency">
                <option>EUR</option>
                <option>USD</option>
                <option>GBP</option>
                <option>RON</option>
              </select>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">
                Cancel
              </button>
              <button type="submit" class="btn btn-primary">
                Create account
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#transferModal">
    Transfer Money
  </button>

  <div class="modal fade" id="transferModal" tabindex="-1" role="dialog" aria-labelledby="transferModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="transferModalLabel">Transfer Money</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form name="transferForm" id="transferForm">
            <div class="form-group">
              <label for="currenct">Account</label>
              <select class="form-control" id="senderIBAN" placeholder="Select your account">
                {% for account in accounts %}
                <option>{{ account.iban }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label for="receiverIBAN">Receiver IBAN</label>
              <input type="text" class="form-control" id="receiverIBAN"
                placeholder="Enter a alias for your new bank account" />
            </div>

            <div class="form-group">
              <label for="amount">Amount</label>
              <input type="number" class="form-control" id="amount" placeholder="Enter the amount of money" />
            </div>

            <div class="form-group">
              <label for="transferDescription">Amount</label>
              <input type="text" class="form-control" id="transferDescription"
                placeholder="Enter the description of the transfer" />
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">
                Cancel
              </button>
              <button type="submit" class="btn btn-primary">Transfer</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#requestLoanModal" id="requestLoanButton">
    Request Loan
  </button>

  <div class="modal fade" id="requestLoanModal" tabindex="-1" role="dialog" aria-labelledby="requestLoanLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="requestLoanModalLabel">
            Request a new loan
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form name="requestLoanForm" id="requestLoanForm">
            <div class="form-group">
              <label for="loanAmount">Amount Requested</label>
              <input type="number" step="0.01" class="form-control" id="loanAmount" placeholder="Enter the amount of money" />
            </div>
            <div class="form-group">
              <label for="loanCurrency">Currency</label>
              <select class="form-control" id="loanCurrency">
                <option>EUR</option>
                <option>USD</option>
                <option>GBP</option>
                <option>RON</option>
              </select>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">
                Cancel
              </button>
              <button type="submit" class="btn btn-primary">
                Request Loan
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-danger delete-account" id="deleteButton" data-toggle="modal" data-target="#deleteAccountModal">Delete an account</button>
  
  <div class="modal fade" id="deleteAccountModal" tabindex="-1" role="dialog" aria-labelledby="deleteAccountLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteAccountModalLabel">
            Choose an account to delete
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form name="deleteAccountForm" id="deleteAccountForm">
            <div class="form-group">
              <select class="form-control" id="accountToDelete">
                {% for account in accounts %}
                  {% if account.balance == 0 %}
                    <option>{{ account.iban }}</option>
                  {% endif %}
                {% endfor %}
                </select>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">
                Cancel
              </button>
              <button type="submit" class="btn btn-primary btn-danger">
                Delete Account
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
 
  <script>
    document.getElementById("newAccountModal").style.display = "none";

    document
      .getElementById("newAccountForm")
      .addEventListener("submit", function (event) {
        event.preventDefault();

        var alias = document.getElementById("alias").value;
        var currency = document.getElementById("currency").value;
        var amount = document.getElementById("amount").value;

        console.log(
          "Submitting form with alias:",
          alias,
          "and currency:",
          currency
        );

        fetch("/request_account", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            alias: alias,
            currency: currency,
            amount: amount
          }),
        })
          .then(function (response) {
            if (response.ok) {
              // If the account was created successfully, hide the modal
              $("#newAccountModal").modal("hide");
            } else {
              console.error("Failed to create account:", response.statusText);
            }
          })
          .catch(function (error) {
            console.error("Failed to submit form:", error);
          });
      });

    document
      .getElementById("transferForm")
      .addEventListener("submit", function (event) {
        event.preventDefault();

        var senderIBAN = document.getElementById("senderIBAN").value;
        var receiverIBAN = document.getElementById("receiverIBAN").value;
        var amount = document.getElementById("amount").value;
        var description = document.getElementById("transferDescription").value;

        Promise.all([
          fetch(`/get_currency?iban=${senderIBAN}`),
          fetch(`/get_currency?iban=${receiverIBAN}`),
        ])
          .then(function (responses) {
            return Promise.all(
              responses.map(function (response) {
                return response.text();
              })
            );
          })
          .then(function (currencies) {
            if (currencies[0] !== currencies[1]) {
              console.error("Currencies do not match");
              return;
            }

            console.log(
              "Submitting form with senderIBAN:",
              senderIBAN,
              "and receiverIBAN:",
              receiverIBAN
            );

            fetch("/transfer_money", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({
                senderIBAN: senderIBAN,
                receiverIBAN: receiverIBAN,
                amount: amount,
                description: description
              }),
            })
              .then(function (response) {
                if (response.ok) {
                  // If the account was created successfully, hide the modal
                  $("#transferModal").modal("hide");
                } else {
                  console.error(
                    "Failed to create account:",
                    response.statusText
                  );
                }
              })
              .catch(function (error) {
                console.error("Failed to submit form:", error);
              });
          })
          .catch(function (error) {
            console.error("Failed to fetch currencies:", error);
          });
      });

      document
      .getElementById("requestLoanForm")
      .addEventListener("submit", function (event) {
        event.preventDefault();

        var currency = document.getElementById("loanCurrency").value;
        var amount = document.getElementById("loanAmount").value;

        console.log(
          "Submitting loan form with amount:",
          amount,
          "and currency:",
          currency
        );

        fetch("/request_loan", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            currency: currency,
            amount: amount
          }),
        })
          .then(function (response) {
            if (response.ok) {
              // If the account was created successfully, hide the modal
              $("#requestLoanModal").modal("hide");
            } else {
              console.error("Failed to request loan:", response.statusText);
            }
          })
          .catch(function (error) {
            console.error("Failed to submit form:", error);
          });
      });

      document
      .getElementById("deleteAccountForm")
      .addEventListener("submit", function (event) {
        event.preventDefault();
        
        var iban = document.getElementById("accountToDelete").value;

        fetch("/delete_account", {
          method: "DELETE",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            iban: iban
          }),
        })
          .then(function (response) {
            if (response.ok) {
              // If the account was created successfully, hide the modal
              $("#deleteAccountModal").modal("hide");
            } else {
              console.error("Failed to request loan:", response.statusText);
            }
          })
          .catch(function (error) {
            console.error("Failed to submit form:", error);
          });
      });
    
  </script>


  {% endblock %}
</body>

</html>