<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="../static/css/loan.css">
  </head>
  
  <body id="page-top">
    {% extends 'template.html' %} {% block content %}
    
    <div id="car ds">
      <!-- Cards will be dynamically created here -->
    </div>
    
    
    <div class="friend-requests"></div>
    
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script  src="../static/js/loan.js"></script>
    <!-- <button id="myButton">Click me</button> -->
    
    {% for loan in loans %}
    {% if loan.status == "pending" %}
    
    <script>
      function generate() {
        generateRandomCard("{{ func(loan.user_id).first_name }} {{ func(loan.user_id).last_name }}", "{{ loan.amount }}", "{{ loan._id }}");
      }
      generate();
    </script>

    {% endif %}
    {% endfor %}

    {% endblock %}
  </body>
</html>
